{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h3 align="center">List of All Expenses</h3>
        <table class="table-responsive-md table-bordered mx-auto">
    <thead>
      <tr>
        <th>#</th>
        <th>Expense Description</th>
        <th>Amount</th>
        <th>Date</th>


      </tr>
    </thead>
    <tbody>
    {% for c in exp %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ c.exp_desc }}</td>
    <td>{{ c.amount }}</td>
    <td>{{ c.dat}}</td>



  </tr>
{% empty %}
  <tr>
    <td colspan="7" class="text-center bg-warning">No Exp</td>
  </tr>
{% endfor %}
</tbody>
</table>
    </div>
</div>


{% endblock content %}


