{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1  align="center">Add Debts to Mr Suns's Accounts</h1><p></p>
    <form id='myamountform' onsubmit="return false">

        <table class="table-responsive-sm table-bordered mx-auto table-info">
            <thead>
            <tr>

                <th style="text-align:center;">Company Name</th>
                <th style="text-align:center;">Desc</th>
                <th style="text-align:center;">RMB</th>
                <th style="text-align:center;">Rupees</th>
                <th style="text-align:center;">Amount</th>
                <th style="text-align:center;">Date</th>

            </thead>
            <tbody id="stock">
            <tr>


                <td>

                    <input type="text" name="com" list="company" class="form-control form-sm"/>
                    <datalist id="company">
                        {% for p in acc %}
                            <option value="{{ p.accounts_name }}">{{ p.accounts_name }}</option>
                        {% endfor %}
                    </datalist>
                </td>
                <td><input name="des" type="text" class="form-control form-control-sm tqty"></td>
                <td><input name="RMB" type="text" class="form-control form-control-sm rmb"></td>
                <td><input name="Rupees" type="text" class="form-control form-control-sm rss"></td>
                <td><input name="amount" type="text" class="form-control form-control-sm myamt"></td>
                <td><input name="dt" type="date" class="form-control form-control-sm qty"></td>


            </tr>


            </tbody>

        </table> <!--Table Ends-->
        <center style="padding:10px;">

            <button id="trans-done" style="width:150px;" class="btn btn-primary">Submit</button>
        </center>
    </form>





{% endblock %}
