<tr >

                        <td><input name="pn" type="text" class="form-control form-control-lg pn"></td>
                        <td ><input size="2" align="center" name="cr" type="text" class="form-control form-control-lg chi"></td>
                        <td ><input size="2" align="center" name="percent" type="text" class="form-control form-control-lg ps"></td>

                        <td><input size="2" name="rp" type="text" class="form-control form-control-lg rp"></td>
                        <td><input size="2" name="qty" type="text" class="form-control form-control-lg qty"></td>
                        <td><input size="2" name="tt" type="text" class="form-control form-control-lg ttt"></td>
                        <td><input size="2" name="ecod" type="text" class="form-control form-control-lg ecod"></td>
{#                        <td><input name="cat" type="text" class="form-control form-control-sm cat"></td>#}

                    </tr>