{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row mx-auto">


    <div class="col-md-12 border">

        <h3 style="
        font-size: 44px;" align="center">Mr <img src="{% static 'images/new/mrsu.jpg' %}" class="rounded mx-auto d-block" style="height: 40px;"  > Electric Company</h3>
        <h6 align="center">Address: 6-B Qadri Center Drain Road Shah Alam Market Lahore</h6>
        <h6 class="text-center">BABAK KHAN 0300-3839558 M AFZAL 0322-7948137 OFF 04237658137</h6>
        <p align="center"><b>Purchasing Invoice</b></p>
        <p align="right"><b> BILL NO: {{ aa.purchase_id }}</b></p>
        <p align="right"><b>Purchasing Date: {% now "d/m/Y" %} </b></p>
  <table class="table table-bordered text-center mx-auto" width="3" style="border-color: black">
    <thead>

      <tr>
        <th> Serial</th>
        <th> ECode</th>
        <th> Product Name</th>
        <th> Chine Rate</th>
        <th> Percent %</th>
        <th> RPrice</th>
        <th> Quantity</th>
        <th> Total</th>

      </tr>
    </thead>
    <tbody>
        {% for x in aa.purchasedetails_set.all %}
      <tr>

        <td>{{ forloop.counter }}</td>
        <td>{{ x.pro_name }}</td>
        <td>{{ x.pro_name }}</td>
        <td>{{x.p_p}}</td>
        <td>{{ x.dis }}</td>
        <td>{{x.r_p }}</td>
        <td>{{ x.qty }}</td>
        <td>{{ x.total }}</td>

      </tr>

        {% endfor %}
    </tbody>
  </table>



<h6 align="right"><b>NetTotal: {{ cc }}</b><br></h6>
</div>
    <i>Prepared By Mohammad Irfan Email: iffi.cs777@gmail.com Cell: 03337881717</i>
</div>
{% endblock  %}


