{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h3 align="center">Payments History</h3>
        <table align="center" class="table-responsive-sm table-bordered mx-auto">
    <thead>
      <tr>
        <th>Ser</th>

        <th style="text-align:center;">Paid Amount:</th>

                <th style="text-align:center;">Paid To:</th>
                <th style="text-align:center;">Method:</th>
                <th style="text-align:center;">Description</th>
                <th style="text-align:center;">Date</th>


      </tr>
    </thead>
    <tbody>
    {% for c in leg %}
  <tr>
    <td>{{ c.pay_led_id }}</td>

    <td>{{ c.amount}}</td>

      <td>{{ c.customers_customers.cust_name}}</td>
      <td>{{ c.method}}</td>
      <td>{{ c.desc }}</td>
    <td>{{ c.dt }}</td>





  </tr>
{% empty %}
  <tr>
    <td colspan="7" class="text-center bg-warning">No Debt</td>
  </tr>
{% endfor %}
</tbody>
</table>
{#    <h5 align="center">Total Expense: {{ total }}</h5>#}
    </div>
</div>


{% endblock content %}


